<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Cadastrar Produtos</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/stylesheet.css}" />
<script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>
</head>
<body>
    <form class="container">
        <div class="form">
            <label class="col-sm-12 px-5 h6">Cadastro de produtos</label>
            <div class="col-sm-12 row">
                <label name="barcode" class="col-2">Código de barras:</label><input type="text" name="barcode" id="barcode" class="col-9 ml-3"/>
            </div>
            <div class="col-sm-12 row">
                <label name="name" class="col-2">Nome:</label><input type="text" name="name" id="name" class="col-9 ml-3"/>
            </div>
            <div class="col-sm-12 row">
                <label name="provider" class="col-2">Nome corporativo do provedor:</label><input type="text" name="provider" id="provider" class="col-9 ml-3"/>
            </div>
            <div class="col-sm-12 row">
                <label name="price" class="col-2">Preço:</label><input type="number" name="price" id="price" class="ml-3"/>
            </div>
        </div>

        <button type="button" onclick="novo()" class="col-sm-2 w-25 p-3 mt-2">Novo</button>
        <button type="button" onclick="salvar()" class="col-sm-2 w-25 p-3 mt-2">Salvar</button>
        <button type="button" onclick="excluir()" class="col-sm-2 w-25 p-3 mt-2">Excluir</button>
        <button type="button" onclick="cancelar()" class="col-sm-2 w-25 p-3 mt-2">Cancelar</button>
        <select class="optionSelect col-sm-3 w-25 p-3 mt-2">
        	<option value="http://localhost:8080/cadastrarProdutos">Produtos</option>
            <option value="http://localhost:8080/cadastrarAgendamentos">Agendamentos</option>
            <option value="http://localhost:8080/cadastrarClient">Clientes</option>
            <option value="http://localhost:8080/cadastrarFornecedor">Fornecedor</option>
            <option value="http://localhost:8080/cadastrarMovimentacoes">Vendas</option>            
        </select>
    </form>
    <script>
    	$(".optionSelect").change(function(){
            location.href = this.value;
        });
        function salvar(){
            var json = {'barcode':$("#barcode").val(),'name':$("#name").val(),
            'price':$("#price").val(),'provider':{'corporateName':$("#provider").val()}
            };
            var response=$.ajax({
            url: 'http://localhost:8080/produto/cadastrar',
            type: 'POST',
            contentType:'application/json',
            data: JSON.stringify(json),
            dataType:'json',
            });
            setTimeout(function(){
                if(response.status=='200'){
                    alert('Salvo');
                    console.log(response.responseText);
                }else{
                    alert('ocorreu um erro inesperado')
                }
            },200);
        }
        function novo(){
            window.location.reload();
        }
        function excluir(){
            var json = {'barcode':$("#barcode").val(),'name':$("#name").val(),
            'price':$("#price").val(),'provider':{'corporateName':$("#provider").val()}
            };
            var response=$.ajax({
            url: 'http://localhost:8080/produto/delete',
            type: 'POST',
            contentType:'application/json',
            data: JSON.stringify(json),
            dataType:'json',
            });
            setTimeout(function(){
                if(response.status=='200'){
                    alert('Excluido');
                    console.log(response.responseText);
                }else{
                    alert('ocorreu um erro inesperado')
                }
            },200);
        }
        function cancelar(){
        
        }
    </script>
</body>
</html>