<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Cadastrar Agendamentos</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/css/stylesheet.css}" />
<script type="text/javascript" th:src="@{/js/jquery-3.6.0.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.mask.js}"></script>
</head>
<body>
    <form class="container">
        <div class="form">
            <label class="col-sm-12 px-5 h6">Agendamentos</label>
            <div class="col-sm-12 row">
                <label name="client" class="col-2">Email cliente:</label><input type="text" name="client" id="client" class="col-9 ml-3"/>
            </div>
            <div class="col-sm-12 row">
                <label name="data" class="col-2 text-left">Data:</label><input type="date" name="data" id="data" class="ml-3"/>
            </div>
            <div class="col-sm-12 row">
                <label name="hora" class="col-2">Hora:</label><input type="text" name="hora" id="hora" class="ml-3"/>
            </div>
            <div class="col-sm-12 row">
                <label name="observation" class="col-2">Observação:</label><input type="text" name="observation" id="observation" class="col-9 ml-3"/>
            </div>
        </div>

        <button type="button" onclick="novo()" class="col-sm-2 w-25 p-3 mt-2">Novo</button>
        <button type="button" onclick="salvar()" class="col-sm-2 w-25 p-3 mt-2">Salvar</button>
        <button type="button" onclick="excluir()" class="col-sm-2 w-25 p-3 mt-2">Excluir</button>
        <button type="button" onclick="cancelar()" class="col-sm-2 w-25 p-3 mt-2">Cancelar</button>
        <select class="optionSelect col-sm-3 w-25 p-3 mt-2">
            <option value="http://localhost:8080/cadastrarAgendamentos">Agendamentos</option>
            <option value="http://localhost:8080/cadastrarClient">Clientes</option>
            <option value="http://localhost:8080/cadastrarFornecedor">Fornecedor</option>
            <option value="http://localhost:8080/cadastrarMovimentacoes">Vendas</option>
            <option value="http://localhost:8080/cadastrarProdutos">Produtos</option>
        </select>
    </form>
    <script>
        $("#hora").mask("99:99");
        $(".optionSelect").change(function(){
            location.href = this.value;
        });
        function salvar(){
            var json = {'client':{'email':$("#client").val()},'data':$("#data").val(),
            'observation':$("#observation").val()
            };
            var response=$.ajax({
            url: 'http://localhost:8080/agendamentos/cadastrar',
            type: 'POST',
            contentType:'application/json; charset=utf-8',
            data: JSON.stringify(json),
            dataType:'json',
            });
            setTimeout(function(){
                if(response.status=='200'){
                    alert('Salvo');
                    console.log(response.responseText);
                }else{
                    alert('ocorreu um erro inesperado')
                }
            },200);
        }
        function novo(){
            window.location.reload();
        }
        function excluir(){
            var json = {'client':{'email':$("#client").val()},'data':$("#data").val(),
            'observation':$("#observation").val()
            };
            var response=$.ajax({
            url: 'http://localhost:8080/agendamentos/delete',
            type: 'POST',
            contentType:'application/json; charset=utf-8',
            data: JSON.stringify(json),
            dataType:'json',
            });
            setTimeout(function(){
                if(response.status=='200'){
                    alert('Excluido');
                    console.log(response.responseText);
                }else{
                    alert('ocorreu um erro inesperado')
                }
            },200);
        }
        function cancelar(){
        
        }
    </script>
</body>
</html>